# .gitignore

# 1. 환경 설정 및 비밀번호 (가장 중요)
config/config.yaml
.env

# 2. 파이썬 실행 임시 파일
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# 3. 빌드 및 배포 관련 (PyInstaller 등)
build/
dist/
*.spec

# 4. OS 관련 파일
.DS_Store
Thumbs.db